
* {
    margin: 0;
}

.logo {
    width: 30px;
    height: 30px;
}
.title {
    color: azure;
    padding-left: 10px;
    padding-right: 25%;
    font-size: xx-large;
    text-decoration: none;
}
.menu {
    padding: 19px;
    text-decoration: none;
    color: antiquewhite;
    text-align: center;
    
    
}
.demant {
    float:right;
    padding: 8px 20px;
    margin-right: 20px;
    border-radius: 7%;
    
}
#login{

    padding: 8px 20px;
    float:right;
    margin-right: 20px;
    border-radius: 7%;
    color:beige;
    background-color: rgb(52, 122, 189);
    width:5%;    
}

#home1 {
    padding-top: 7%;
    height: 100vh;
    width: 100%;
    background-image: url("images/home1.jpg");
    background-size: 100% 100%;
    
  }

.autochange::before {
    content: "Stocks";
    animation: animate infinite 6s;
    padding-left: 10px;
}

@keyframes animate {

    0% {
        content: "FDs";
    }

    30% {
        content: "IPO";
    }

    50% {
        content: "US Stocks";
    }
    75% {
        content: "Mutual Funds"
    }
    100%{
        content: "Crypto"
    }

}

.home1_1 {
   
    margin-left: 10%;
    margin-top: 10%;
    background-color:#ffffff4d;
    backdrop-filter: blur(8px);
    width: 60%;
    height: 45%;
    border:  2px rgb(245, 237, 237);
}
.home1_1 h1 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding-top: 4vh;
    font-size: 4vw;
    margin-left:5vw;
    
}
.home1_1 p {
    color: rgb(11, 16, 21);
    margin-left:5vw;
    margin-top: 2vh;
    font-size: 2vw;
}
.GetStarted{
    padding:2vh 4vh;
    border-radius: 7%;
    margin-top: 2vh;
    margin-left:5vw;
    width:20%;
    font-size: 1.3vw;
}
.home2 {
    width: 100%;
    height: 100vh;
    background-color: rgb(12, 45, 83);
    
}
.home2_1{
    /* padding-left: 30%; */
    padding-top: 2vh;
    text-align: center;
    color: aliceblue;
}
.home2_1 h1 {
  font-size: 3vw;
}

.home2_1 pre {
    font-size: 1.5vw;
}


  .home3 {
    width: 100%;
    height: 100vh;
    background-color: #327eb1;
    
} 
.section3 {
  width: 80%;
  height: 90%;
  background-color: white;
  margin: auto;
  
}

.section3 h1{
  text-align:center;
  padding-top:5vh;
  font-size:3vw;
  margin: auto;
}
.section3 img {
  display: inline;
  width: 30%;
  height:50%;
  margin-left: 2.5%;
  
  
}

.section3 p {
  display: inline-block;
   margin-left: 2%;
  margin-top: 1%;
  text-align: center;
  font-size: 1.2vw;
  width: 30%;
}
.section3 p::first-line{
  font-size: 40px;
  
}


.section3 p:first-of-type {
  margin-left: 2%;
}


#loginwindow {
  /* display: none;  */
  /* position: fixed;  */
  z-index: 2; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}


.loginbox {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.closelogin {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closelogin:hover,
.closelogin:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.login_1 {
  width: 50%;
  
  margin-left: 45%;
}

.login_1 input[type="email"],input[type="password"]
{
  width:50%;
  padding:7px;

}

#login_1_1 { 

  padding:5px;
  width:20%;
  
}
#signup {

  padding:5px;
  width:20%;
  
}

#ContinueGoogleBtn {
  height: 50px;
  width:300px;
  border-radius: 6px;
  border: 1px solid ;
  box-shadow: 0 2px 9px ;
  cursor: pointer;
  position: relative;
}

#signupwindow {
  /* display: none;  */
  /* position: fixed;  */
  z-index: 2; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.signupbox {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.closesignup {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closesignup:hover,
.closesignup:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.signup_1 {
  width: 50%;
  
  margin-left: 45%;
}

pre {
  color: white;
}
.slideshow {
  margin: auto;
  width:70%;
  height: 50%;
}
#notfound {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* background: url(p404.png) #151729; */
}
.notfound1 {
  max-width: 600px;
  text-align: center;
}
.notfound1 h2 {
  font-size: 15vw;
  /* color: #fff; */
  line-height: 1em;
}
.notfound1 h4 {
  position: relative;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #111;
  background: #fff;
  font-weight: 300;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 3px;
}

.notfound1 p {
  /* color: #fff; */
  font-size: 1.2em;
}

.notfound1 span {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  background: #ff0562;
  color: #fff;
  text-decoration: none;
  margin-top: 25px;
  border-radius: 25px;
  border-bottom: 4px solid #d00d56;
}

.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

  
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}
















